.bottomContainer{
    height: 43.5%;
    width: 100%;
    display: flex;
}

.one,.two,.three {
    height: 100%;
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.one img{
    height: 50%;
    width: 30%;
}

.two img{
    height: 50%;
    width: 30%;
}


.three img{
    height: 50%;
    width: 30%;
}